.container {
  min-height: 100vh;
}

.nav {
  color: var(--text);
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}
.nav_item {
  margin-top: 10px;
}

.card {
  width: 18rem;
  margin: 10px;
  background-color: var(--theme);
  padding: 0;
  border: none;
  cursor: pointer;
}

.card::after {
  content: "";
  border-bottom: 2px solid var(--text);
}

.card_title {
  margin: 20px 0;
  color: var(--text);
  font-size: 16px;
  padding: 10px;
}
.card_body {
  padding: 0;
}

.card_display {
  border-radius: 2px;
}

.modal_display {
  object-fit: contain;
  width: 100%;
  height: auto;
}
.modal_header {
  padding: 10px;
}

.modal_title {
  font-size: 20px;
  margin: 20px 0;
}

.modal_source {
  font-size: 12px;
  font-weight: bold;
  float: right;
}

.button_round {
  border-radius: 100px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list_group {
  padding: 20px;
  border-radius: 0;
}

.list_item {
  margin: 10px;
  border: none;
  border-bottom: 1px solid var(--text);
  padding: 10px;
  border-radius: 0;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  background-color: var(--text);
  padding: 10px;
  border: none;
}
.button:hover {
  background-color: var(--text);
}

.login_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_form {
  display: flex;
  flex-direction: column;
  background: rgb(221, 221, 221, 0.7);
  padding: 5em;
  border-radius: 10px;
}
